@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #0c2b80;
    color: snow;
    font-family: "philosopher", sans-serif;

/* Header */
header {
    background-color: snow;
    color: #0c2b80;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #0c2b80;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #0c2b80;
}


/* Navbar styles */

nav {
    position: absolute;
    background-color: snow;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    padding-top: 100px;
}

#main-div {
    background-color: #0c2b80;
    color: snow;
}



/* Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}