@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #0c2b80;
    color: snow;
    font-family: "philosopher", sans-serif;
}

/* Header */
header {
    background-color: snow;
    color: #0c2b80;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px snow;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #0c2b80;
}


/* Navbar styles */

nav {
    position: absolute;
    background-color: snow;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Section */

main {
    flex: 1 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("./images/claddagh_basin_b&w.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

/*
#main-div {
    margin-left: 5%;
    padding: 15px;
    width: 90%; 
    background-color: rgba(12, 43, 128, 0.8);    
}
*/

/* Blue transparent background for divs */
.home {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 15px;
    width: 90%; 
    background-color: rgba(12, 43, 128, 0.8);
}

h1, h2 {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    margin-bottom: 10px;
    width: 100%;
}

p {
    line-height: 2;
    text-align: justify;
}

#home-section {
    margin-bottom: 2rem;
}

#main-div > div {
    padding-bottom: 2rem;
}

p a {
    color: inherit;
}


/*  Gallery section */

#gallery-main {
    background: #0c2b80 !important;
    background-image: none;
}

#gallery > div > img {
    padding: 20px 20px 0 20px;
    width: 100%;
}

#gallery > div > p {
    text-align: center;
    margin: 15px;
    
}

#gallery h2 {
    padding-left: 20px;
}

/* Contact page */
#confirmation-main {
    flex: 1 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("./images/claddagh_basin_b&w.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

#confirmation {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    text-align: center;
    background: rgba(12, 43, 128, 0.8);

}

/* Footer */
footer {
    background-color: snow;
    color: #0c2b80;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > h2 {
    padding-top: 10px;
    text-align: center;
}

#social-networks {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #0c2b80;
}