/* Header */
header {
    width: 100%;
    display: flex;
    background-color: #ffffff ;
    color: #1500E6;
}

header a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #1500E6;
    color: #ffffff;
    
}




/* Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}